@import 'colors';
@import 'header';
@import 'main';
@import 'cards';
@import 'footer';

html, body {
  height: 100%;
}

body {
  font-family: Lato, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: $bg-light;
  background-image: linear-gradient($bg-light, #dfdfdf);

  header, main, footer {
    padding: 2em;

    section {
      max-width: 1100px;
      margin: 0 auto;
    }
  }
}

a, a:visited, .brand {
  color: $brand-blue;
}

a:hover {
  color: lighten($brand-blue, 30%);
}

