@import 'colors';

ul.cards {
  list-style: none;
  padding: 0;

  li {
    border-radius: 5px;
    overflow: hidden;
    color: white;

    header, div {
      padding: 1em;
    }

    header {
      background-color: rgba(0, 0, 0, 0.15);
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.2em;
      position: relative;
    }

    header .icon {
      position: absolute;
      left: 1em;
      opacity: 0.78;
    }
    
    p {
      margin: 0;
      text-align: center;
      
    }
  }
}

#usp {
  margin-top: 2em;
}

#card-webdev {
  background-color: $brand-blue;
}

#card-automation {
  background-color: $brand-charcoal;
}

#card-integration {
  background-color: $brand-green;
}
