#logo {
  flex: 1;
  
  img {
    width: 150px;
    height: 27px;
  }
}

body > header:after {
  background-image: linear-gradient(25deg, transparent 65%, rgba(255, 255, 255, 0.33) 65%);
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

body > header > section {
  display: flex;
  position: relative;
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    
    li {
      padding: 0  10px;
      font-size: 1.1em;
      text-transform: uppercase;
    }
  }
}
