@import "mixins";
@import "colors";

main {
  flex: 1;

  h1 {
    font-size: 5em;
    line-height: 1.2em;
    margin: 0.4em 0 1.2em 0;
    text-align: center;
  }

  h2 {
    font-size: 2em;
    line-height: 1.4em;
    margin: 2em 0 0.8em 0;
    clear: both;
  }
}

#me {
  display: none;
  float: right;
  width: 200px;
  margin: 0 -30px 2em 2em;
  shape-outside: url(../img/me.png);
  shape-image-threshold: 0.5;
  shape-margin: 2em;

  @include narrow {
    display: none;
  }
}

span.contact-elem {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 1em 0 0;
  line-height: 2.5em;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6) inset;
  
  .icon {
    background-color: $brand-charcoal;
    color: white;
    display: inline-block;
    padding: 0 0.5em;
    margin: 0 0.5em 0 0;
  }
}
