html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    background-image: linear-gradient(#f0f0f0, #dfdfdf);
}

a, a:visited, .brand {
    color: #556ed2;
}

a:hover {
    color: #9faee6;
}

body>header, body>main, body>footer {
    padding: 2em;
}

body>header>section, body>main>section, body>footer>section {
    max-width: 1400px;
    margin: 0 auto;
}

main {
    flex: 1;
}

main h1 {
    font-size: 5em;
    line-height: 1.6em;
    margin: 0 0 0.5em 0;
    font-weight: normal;
}

footer {
    background-color: #1c1c1c;
    color: #aaaaaa;
    border-top: 1px solid #000000;
}

#logo {
    width: 180px;
}

#header-contact {
    float: right;
    display: none;
}

#intro {
    margin-bottom: 4em;
}

ul.cards {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
}

ul.cards li {
    border-radius: 5px;
    overflow: hidden;
    color: white;
    font-size: 0.9em;
}

ul.cards li header {
    background-color: rgba(0, 0, 0, 0.15);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#card-webdev {
    background-color: #556ed2;
}

#card-automation {
    background-color: #272727;
}

#card-integration {
    background-color: #a55d6b;
}

ul.cards li header, ul.cards li div {
    padding: 1em;
}

#usp {
    margin-top: 2em;
}
